In [1]:
# Defining a fun where input can be given any no.of arguments
def test(*args):
    """Input can take any no.of arguments"""
    return args

* - It is a notation used for passing any no.of arguments given

In [2]:
test(1,4,7,8j,[64,'hdhb'],(457,67,"tuple"))

(1, 4, 7, 8j, [64, 'hdhb'], (457, 67, 'tuple'))

In [3]:
def test1(*ex):
    return ex

In [4]:
test1({23,2,53,4,5},{"a":"z","b":"y","c":"x"})

({2, 4, 5, 23, 53}, {'a': 'z', 'b': 'y', 'c': 'x'})

In [5]:
# args isn't complusory word, whereas "*" is compulsory which denotes to pass n no.of data

In [6]:
# Defining a fun where input is given n no.of data along with specific fixed data/ variable
def test2(*var, x):
    return var,x

In [7]:
test2(745,'opps',24,x=4)

((745, 'opps', 24), 4)

In [8]:
def test3(*stats,p,q,r):
    """Allows to give n no.of arguments, give additional some of the fixed inputs in integer only"""
    if type(p)==int and type(q)==int:
        return stats, p+q,r

In [9]:
test3("klp","hum","parrot",12,5j,5,"king",p=4,q=5,r=6)

(('klp', 'hum', 'parrot', 12, 5j, 5, 'king'), 9, 6)

In [10]:
def test4(a,*alpha):
    return alpha,a

In [11]:
test4("self",24,65,756,[34,56,67],"sir",a="mam")

TypeError: test4() got multiple values for argument 'a'

In [12]:
test4("self",24,65,756,[34,56,67],"sir")

((24, 65, 756, [34, 56, 67], 'sir'), 'self')

Above line, it is passed even though "a" value isn't given.As by default whenever individual argument is given at start, it considers 1st value given as individual argument value even though its not mentioned.Hence, when "a" value is mentioned & given, it considers as multiple values are assigned to "a".

In [13]:
def test5(a,*X,c,f):
    return a,X,c,f

In [14]:
test5(2,3,89,3)

TypeError: test5() missing 2 required keyword-only arguments: 'c' and 'f'

Above code error is facing bcoz as whatever variable given before "*" is considered as positional variable\ argument (a).
The variables given after "*" have to be defined as it cant distinguish between "*" value & other variable values.

In [15]:
test5(8,"kan","hjgdfj",c=[34,467,"I"],f=5j)

(8, ('kan', 'hjgdfj'), [34, 467, 'I'], 5j)

In [16]:
# Arguments always going to return in tuple format

In [17]:
# Problem-1: User can pass any type of data but can return only list form of data
def test6(*args):
    for i in args:
        if type(i)==list:
            return i

In [18]:
test6("pos",34,44,67,50.2,[45,67,"fd"],(45,768),[35,56,66])

[45, 67, 'fd']

In [19]:
# Only 1st list value is returned even though 2 lists are passed, as in def we have given to return i value when it is list

In [20]:
def test7(*args):
    l =[]
    for i in args:
        if type(i)==list:
            l.append(i)           
    return l

In [21]:
test7("pos",34,[44,67,50.2],[45,67,"fd"],(45,768),[35,56,66])

[[44, 67, 50.2], [45, 67, 'fd'], [35, 56, 66]]

In [22]:
# Problem-2: Def a fun where user can pass n no.of data only in key:value pair
def test8(**kwargs):
    return kwargs

In [23]:
# ** - Denotes data is passed in key:value pair
# * - Represents data passed in single value

In [24]:
test8(324,45)

TypeError: test8() takes 0 positional arguments but 2 were given

In [25]:
# As it cant decide what is positional argument(key) value, so error is shown

In [26]:
test8(c=324,b=53)

{'c': 324, 'b': 53}

In [27]:
# Here, c & b are treated as Keys and given value as Values.Hence output is returned as dictionary
# For single argument(*), output is given in tuple

In [28]:
test8(1="hansl")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-28-cb1b41ef8652>, line 1)

In [29]:
# so only alphabets/ words can be used as key but not numbers

In [30]:
test8(b="fbjsbh")

{'b': 'fbjsbh'}

In [31]:
test8("a"="df","fe"=324)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-31-1b69227f2509>, line 1)

Cant be in string format as it considers variable : value, if variable is given in string format,it treats both of them as variable: variable which isn't accepted.Hence variable should be written in word/alphabets only but not in "" or ''

In [32]:
test8(p=22132,q="fldn",r=234.33)

{'p': 22132, 'q': 'fldn', 'r': 234.33}

In [33]:
def test9(p,**kwargs):
    return kwargs,p

In [34]:
test9(76,a="parrot",b=45,o="devdas")

({'a': 'parrot', 'b': 45, 'o': 'devdas'}, 76)

In [35]:
def test10(g,**kwargs,*args):
    return **kwargs,g,args

SyntaxError: invalid syntax (<ipython-input-35-3bca5791bd9d>, line 1)

In [36]:
#Note: Shows error, as you cant use "**" & "*" at a time in a function.
# But it works fine when using it in a sequence i.e,positional arguement, "*" & "**" or in "*",positional arg,"**"

In [37]:
def test11(a,*args,**kwargs):
    return a,args,kwargs

In [38]:
test11("position","bhfdbh",'fbdjb',34,565,b="bdb",v=23,k=534,bn="bdjfb")

('position',
 ('bhfdbh', 'fbdjb', 34, 565),
 {'b': 'bdb', 'v': 23, 'k': 534, 'bn': 'bdjfb'})

In [39]:
def test12(*args,**kwargs,j):
    return args,kwargs,j

SyntaxError: invalid syntax (<ipython-input-39-9abf63708902>, line 1)

In [40]:
# Refer above note

In [41]:
def test12(*args,**kwargs):
    return args,kwargs

In [42]:
test12("djb",44,56,78,42,l="pns",k="jnkd",i=87)

(('djb', 44, 56, 78, 42), {'l': 'pns', 'k': 'jnkd', 'i': 87})

In [43]:
def test13(*args,b,**kwargs):
    return args,b,kwargs

In [44]:
test13("hjadj",77,8767,"vdhv",b=656,c="ijh",h=87)

(('hjadj', 77, 8767, 'vdhv'), 656, {'c': 'ijh', 'h': 87})

In [45]:
# Lambda Function - Function which is created without a name is called Lambda function
P= lambda a,b:a+b

In [46]:
P(712,85)

797

In [47]:
Q =lambda a,*args:(args,a)

In [48]:
Q(34,"skjfjk",874,"uifb","bgdjsk")

(('skjfjk', 874, 'uifb', 'bgdjsk'), 34)

In [49]:
R = lambda s,t:(s**2,t*2,s+t)

In [50]:
R(7,9)

(49, 18, 16)

In [51]:
# Lambda fun_for loop
K = lambda h:[i for i in h]

In [52]:
K(["bfhe",67,87,34,"hdf"])

['bfhe', 67, 87, 34, 'hdf']

In [53]:
K(('sbf','bjd',7,45,563,56))

['sbf', 'bjd', 7, 45, 563, 56]

In [56]:
l =lambda *args,**kwargs: (args,kwargs)

In [57]:
l("bsdfhb",4345,43,"ab",k="njkdb",w='words')

(('bsdfhb', 4345, 43, 'ab'), {'k': 'njkdb', 'w': 'words'})

In [58]:
#
a = 10
def test14(c,d):
    return c*d

In [60]:
test14(a,7)

70

Though a isn't used in the function, c takes over its value while executing the fun

In [64]:
w= 11
def test15(w,x):
    w=8
    return w**2+x

In [66]:
test15(s,4)

68

In [67]:
w

11

In [68]:
# Though globally(i.e,all over the notebook) w=11,it takes w=8 as it is defined locally(inside the def).
# Hence it takes local value and excutes it irrespective of the value given

In [69]:
test15(9,5)

69

In [70]:
w=[7,35,36,56,85,'bfd']
w1=[]
for i in w:
    w1.append(i*2)

In [71]:
w1

[14, 70, 72, 112, 170, 'bfdbfd']

In [73]:
# Using function
def test16(u):
    u2=[]
    for i in u:
        u2.append(i*2)
    return u2

In [74]:
test16(w)

[14, 70, 72, 112, 170, 'bfdbfd']

In [75]:
# Using lambda
x = lambda u:[i*2 for i in u]

In [76]:
x(w)

[14, 70, 72, 112, 170, 'bfdbfd']

List Comprehension

In [78]:
[i*2 for i in w]

[14, 70, 72, 112, 170, 'bfdbfd']

In [80]:
p=[13,35,46,74,91,3]
[(i+2,i*3) for i in p]

[(15, 39), (37, 105), (48, 138), (76, 222), (93, 273), (5, 9)]

In [81]:
# left - Result is always written on left side
# Right - for loop & condition is written on right side

In [82]:
q = [1,3,4,5,67,7,45,67]
[(i+4,i**2) for i in q if i<15]

[(5, 1), (7, 9), (8, 16), (9, 25), (11, 49)]

In [83]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [84]:
d1 ={}
for i in range(10):
    d1[i]=i**2

In [85]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}