In [1]:
def test():
    print("Its a test purpose function")

def is a standard keyword used to define function

In [2]:
test()

Its a test purpose function

In [3]:
type(test())

Its a test purpose function

NoneType

In [4]:
# Print always return "Nonetype" irrespective of input given to it

In [5]:
a = test()

Its a test purpose function

In [6]:
a

In [7]:
a + "trial"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
type(a)

NoneType

In [9]:
str(a)

'None'

So when u try to type cast 'NoneType' to string, it gives output as 'None'

In [10]:
# Problem-1 : Creating a fun where output can be concatenated with other data types
# As print by default gives NoneType,it cant be concatenated with other data types
def test1():
    return "I visited US"

In [11]:
test1()

'I visited US'

In [12]:
type(test1())

str

Return - Always give output in input data type given whereas Print gives only 'NoneType'

In [13]:
def test2():
    return 7854

In [14]:
test2()-410

7444

In [15]:
def test3():
    return 1,3,43,67,789j,[34,76,978,"tgh"],(76,67,64)

In [16]:
test3()

(1, 3, 43, 67, 789j, [34, 76, 978, 'tgh'], (76, 67, 64))

Return fun - Can return multiple objects at once as a collection, by default data type is "Tuple".

In [17]:
b = test3()

In [18]:
type(b)

tuple

In [19]:
b[-2]

[34, 76, 978, 'tgh']

In [20]:
# Problem-2: Allocating multiple objects to multiple variables at once
w,e,r,t,h,s,i = test3()

In [21]:
w

1

In [22]:
e

3

In [23]:
i

(76, 67, 64)

In [24]:
s

[34, 76, 978, 'tgh']

In [25]:
type(h)

complex

In [26]:
def test4():
    return 6*8/4

In [27]:
test4()

12.0

In [28]:
# So we can even write a logic(both simplex & complex) as well inside the function

In [37]:
# Problem-3: Define a filter function which takes input as list, gives output only list of integers

def test5(l):
    m = []
    if type(l) == list:
        for i in l:
            if type(i)==int:
                m.append(i)
                
    return m

In [38]:
L1 = (1,5,8,6)
test5(L1)

[]

In [40]:
L2 =[45,78,90,33,["st","paul",852,86.2,6j],[(1,5,9),[4,5,6,7]]]
test5(L2)

[45, 78, 90, 33]

In [45]:
# Problem-4: Define a function where input as dictionary, gives output a list of keys

def test6(s):
    if type(s)==dict:
        return s.keys()
    else:
        return "Please give input in dictionary"

In [46]:
c = {"s":"hello","cia":"morning","vetour":"evening"}
test6(c)

dict_keys(['s', 'cia', 'vetour'])

In [44]:
test6(23)

'Please give input in dictionary'

In [48]:
test6({(4,5):"hello",3:"morning",6j:"evening"})

dict_keys([(4, 5), 3, 6j])

In [51]:
#Problem-5: Define a function where multiple objects as input, output as concatenation of both of them
def test7(m,n):
    if type(m)==list and type(n)==list:
        m.extend(n)
        return m
    else:
        return "Either 1 of your data is not list"

In [52]:
test7([2.4,5,55,'str'],[86,53.2])

[2.4, 5, 55, 'str', 86, 53.2]

In [54]:
test7((556,67,"dh"),['hollow'])

'Either 1 of your data is not list'

In [90]:
# Problem-6: Create a function which prints a triangle
def test8(q):
    """
    Generates a triangle with given number of rows
    Input- Accepts only integer
    Output - Generates triangle 
    """
    if type(q)==int:
        for i in range(0,q):
            for j in range(0,i+1):
                print("+" ,end="")
            print("\r")
    else:
        return "Give input as integer"

Docstring-
Words return in triple quotes("""""") inside the function(under def line) gives user a hint about function functionality

In [88]:
test8(4)

+
++
+++
++++

In [71]:
test8(1.3)

'Give input as integer'

In [74]:
test8(8)

+
++
+++
++++
+++++
++++++
+++++++
++++++++

In [93]:
help(test8)

Help on function test8 in module __main__:

test8(q)
    Generates a triangle with given number of rows
    Input- Accepts only integer
    Output - Generates triangle

Help - An inbuilt function which helps you to give docstring of a function