Tuples

In [1]:
T =(12,24,36,'tuple',False)

In [2]:
type(T)

tuple

In [3]:
T[::]

(12, 24, 36, 'tuple', False)

In [4]:
T[0:-1:]

(12, 24, 36, 'tuple')

In [5]:
T[::-1]

(False, 'tuple', 36, 24, 12)

In [6]:
# Slicing operations of Tuple are similar to List

In [7]:
T[3]

'tuple'

In [8]:
T[0::2]

(12, 36, False)

In [9]:
L = [12,24,36,'tuple',False]

In [10]:
type(L)

list

In [11]:
L1 = [0,4,8,16,'mul of 4']

In [12]:
L1[4]= 32

In [13]:
L1

[0, 4, 8, 16, 32]

In [14]:
T

(12, 24, 36, 'tuple', False)

Difference between Tuple & List:
- Tuple - () ; List - []
- Tuple - immutable ; List - Mutable, so tuple cant perform item reassignment operation/ add items as well

In [15]:
T1 =(1,3,5,7,9,12,24,36,'tuple')

In [16]:
T3 =T + T1

In [17]:
T3

(12, 24, 36, 'tuple', False, 1, 3, 5, 7, 9, 12, 24, 36, 'tuple')

In [18]:
T.count("u")

0

In [19]:
T3.count('tuple')

2

In [20]:
T3.index(5)

7

In [21]:
T2 = (12,35645,56j,("bdf",True))

In [22]:
T2[-1][0]

'bdf'

In [23]:
T2[3][1]=34.35

TypeError: 'tuple' object does not support item assignment

In [24]:
T2

(12, 35645, 56j, ('bdf', True))

In [25]:
T4 =(23.56,"nbd",76j,("start",0.85,False),[555,787,45,56])

In [26]:
T4[-1][4]=["list"]

IndexError: list assignment index out of range

In [27]:
# so we cant add new index to existing list but we can reassign elements

In [28]:
T4[-1][2]=32.678

In [29]:
T4

(23.56, 'nbd', 76j, ('start', 0.85, False), [555, 787, 32.678, 56])

SET

Set 
- Collection of unordered data. Represented by {}.
- Collection of unique elements only, i.e,it removes duplicate elements by itself.

In [30]:
L4 = [1,11,1,1,11,2,22,22,2,3,33,3,4]

In [31]:
S = set(L4)

In [32]:
S

{1, 2, 3, 4, 11, 22, 33}

In [33]:
s = {}

In [34]:
type(s)

dict

In [35]:
S[2]

TypeError: 'set' object is not subscriptable

In [36]:
# As set is collection of unordered data, it doesn't possible to get index.So slicing operations aren't possible for Set

In [37]:
S.add(44)

In [38]:
S

{1, 2, 3, 4, 11, 22, 33, 44}

In [39]:
s =S.copy()

In [40]:
s

{1, 2, 3, 4, 11, 22, 33, 44}

In [41]:
S ={1,3,5,7,9} 
S1 = {1,3,5,7,'set'}

In [42]:
S

{1, 3, 5, 7, 9}

In [43]:
S1

{1, 3, 5, 7, 'set'}

In [44]:
S.difference(S1)

{9}

In [45]:
S1.difference_update(S)

In [46]:
S1

{'set'}

In [47]:
S1.add(45)

In [48]:
S1

{45, 'set'}

In [49]:
S1.update([1,2,3])

In [50]:
S1

{1, 2, 3, 45, 'set'}

In [51]:
S1.add([78,"string"])

TypeError: unhashable type: 'list'

In [52]:
S1.update([1, 2, 3, 45, 'set'])

In [53]:
S1

{1, 2, 3, 45, 'set'}

In [54]:
S1.update({1, 2, 3, 45, 'set',907})

In [55]:
S1

{1, 2, 3, 45, 907, 'set'}

Difference b/w "Add" & "Update"
Add - Adds element to set as it is. Eg: int, string, complex, tuple
Update - Adds element to set by extracting them if they're present in list/tuple/set

In [56]:
S2 = {[1,'bfvb',45j]}

TypeError: unhashable type: 'list'

In [57]:
S2 = {(1,'bfvb',45j)}

In [58]:
S2

{(1, 'bfvb', 45j)}

In [59]:
# As set is a collection of unique unordered elements, so it can accept only primitive data(eg:int,float,etc) not collection.
# Hence list is rejected whereas tuple is accepted in set bcoz it is immutable.

In [60]:
S3 = {1,324,"ghfjfh",1,324,"ghfjfh"}

In [61]:
S3

{1, 324, 'ghfjfh'}

In [62]:
S3.remove(1)

In [63]:
S3

{324, 'ghfjfh'}

In [64]:
S3.add('add','string',1258.465,789)

TypeError: add() takes exactly one argument (4 given)

In [65]:
S3.add(4)

In [66]:
S3

{324, 4, 'ghfjfh'}

In [67]:
S3.discard('ghfjfh')

In [68]:
S3.remove(78)

KeyError: 78

In [69]:
S3.discard(98)

In [70]:
S3

{4, 324}

Discard- Removes element if it is in Set, doesn't throw error
Remove - Removes element if it is in Set, throws an error saying element doesn't exist in set

In [71]:
S4 ={'exam',"table","timetable","examiner","MARKS","Table"}

In [72]:
S4

{'MARKS', 'Table', 'exam', 'examiner', 'table', 'timetable'}

In [73]:
S4.add('examination')

In [74]:
S4

{'MARKS', 'Table', 'exam', 'examination', 'examiner', 'table', 'timetable'}

In [75]:
S4.add(45.56)

In [76]:
S4

{45.56,
 'MARKS',
 'Table',
 'exam',
 'examination',
 'examiner',
 'table',
 'timetable'}

In [77]:
s = [4,3543,5765,'fg','rrt',4,3543,5765]

In [78]:
set(s)

{3543, 4, 5765, 'fg', 'rrt'}

Dictionary

Dictionary - Collection of variables stored in pairs(key:value) in flower bracket{}.
Key : Unique value like int, string, float, tuple
* Note- 
  Key values cant be special characters, List, Set and Dictionary. 
  Cant be duplicated.If it's duplicated, it holds only most recent value

Value : Can be anything like int,str, float,list, tuple,etc.

In [79]:
D = {1:10,2.3:"Val",4j:67,"key":567j,(1,2,3,4):(1,2,3,45)}

In [80]:
D

{1: 10, 2.3: 'Val', 4j: 67, 'key': 567j, (1, 2, 3, 4): (1, 2, 3, 45)}

In [81]:
type(D)

dict

In [82]:
D1 = {1:10,2.3:"Val",4j:67,"key":567j,(1,2,3):[1,2,3,45]}

In [83]:
D1

{1: 10, 2.3: 'Val', 4j: 67, 'key': 567j, (1, 2, 3): [1, 2, 3, 45]}

In [84]:
D2 = {{1:10,2.3:"Val",4j:67,"key":567j,{1,2,3,4}:(1,2,3,45)}}

TypeError: unhashable type: 'set'

In [85]:
D3 = {{1:10,2.3:"Val",4j:67,"key":567j}:"dict"}

TypeError: unhashable type: 'dict'

In [86]:
D4 = {1:10,2.3:"Val",4j:67,"key":567j,(1,2,3,4):(1,2,3,45)}

In [87]:
D4.fromkeys('Val')

{'V': None, 'a': None, 'l': None}

In [88]:
D4.fromkeys((1,2,3,4))

{1: None, 2: None, 3: None, 4: None}

In [89]:
D4.keys()

dict_keys([1, 2.3, 4j, 'key', (1, 2, 3, 4)])

In [90]:
D5 =D4.copy()

In [91]:
D5

{1: 10, 2.3: 'Val', 4j: 67, 'key': 567j, (1, 2, 3, 4): (1, 2, 3, 45)}

In [92]:
D5.items()

dict_items([(1, 10), (2.3, 'Val'), (4j, 67), ('key', 567j), ((1, 2, 3, 4), (1, 2, 3, 45))])

In [93]:
D6 = {1:10,2.3:"Val",4j:67,"key":567j,(1,2,3):[1,2,3],'dict':{'Val':'key1','val':"Key"},"key":985}

In [94]:
D6["key"]

985

# Key value has to be always unique, if its duplicated then its existing value is updated

In [95]:
D6['dict']['val']

'Key'

In [96]:
D6.keys()

dict_keys([1, 2.3, 4j, 'key', (1, 2, 3), 'dict'])

In [97]:
D6.values()

dict_values([10, 'Val', 67, 985, [1, 2, 3], {'Val': 'key1', 'val': 'Key'}])

In [98]:
# Assigning new key : value to dictionary

In [99]:
D6["key1"]= "insert"

In [100]:
D6

{1: 10,
 2.3: 'Val',
 4j: 67,
 'key': 985,
 (1, 2, 3): [1, 2, 3],
 'dict': {'Val': 'key1', 'val': 'Key'},
 'key1': 'insert'}

In [101]:
# Updating value to existing key in dictionary

In [102]:
D6['key']= "Lock"

In [103]:
D6

{1: 10,
 2.3: 'Val',
 4j: 67,
 'key': 'Lock',
 (1, 2, 3): [1, 2, 3],
 'dict': {'Val': 'key1', 'val': 'Key'},
 'key1': 'insert'}

In [104]:
D6.get("dict")

{'Val': 'key1', 'val': 'Key'}

In [105]:
# It gives value for key when key is presented in dictionary, else it returns none

In [111]:
D4

{1: 10, 2.3: 'Val', 4j: 67, 'key': 567j, (1, 2, 3, 4): (1, 2, 3, 45)}

In [112]:
key = ("cia",'bella','caro')
value = ("sweet")

In [115]:
d = D4.fromkeys(key,value)

In [116]:
d

{'cia': 'sweet', 'bella': 'sweet', 'caro': 'sweet'}